[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
pandas = "*"
matplotlib = "<3.0.0"  # until we drop python 2 support


[dev-packages]

jupyterlab = {version = "*", markers="python_version >= '3.5'"}
